#pic-board .row {
	-moz-column-width: 18em;
	-webkit-column-width: 18em;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
}

.flickr-item {
	display: inline-block;
	margin:  0.25rem;
	padding:  1rem;
	width:  100%;
}

#add-tag {
	display: block;
    width: 50px;
}

.intro-header {
	overflow: hidden;
    transition: height 0.8s;
    -moz-transition: height 0.8s; /* Firefox 4 */
    -webkit-transition: height 0.8s; /* Safari and Chrome */
    -o-transition: height 0.8s; /* Opera */
    height: 448px;
}

header.intro-header.collapse-header {
	height: 115px;
}

.collapse-header .row {
	display: none;
}

.container tags-input .tags .tag-item, .pager li>a:focus {
	color: #fff;
	background-color: #d97119;
	border: 1px solid #d97119;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 14px;
}

.post-preview li>a:hover {
  background-color: #d97119;
  border: 1px solid #d97119;
}

a:hover, a:focus {
  color: #d97119;
}