#add-tag {
	display: block;
    width: 50px;
}

.container .tags .tag-item {
	color: #fff;
	background-color: #d97119;
	border: 1px solid #d97119;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 14px;
}

.post-preview li>a:hover {
  background-color: #d97119;
  border: 1px solid #d97119;
}

.container a:hover {
  color: #d97119;
}