<div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="pic in picsList">
        <div class="thumbnail">
            <img src={{pic.media.m}} title={{pic.title}}>
            <div class="caption">
                <h4><a target="_blank" href={{pic.link}}>{{pic.title || Untitled | limitTo: 35}}</a></h4>
                <p>Published on {{pic.published | date:'d MMMM yyyy, HH:mm'}}</p>
                <h4>Tags</h4>
                <p><span ng-repeat="tag in pic.tags | limitTo:14">{{tag}} </span></p>
            </div>
            <div class="ratings">
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
        </div>
    </div>
</div>